///*VARIABLES*///
/// 
/// ///*Fonts*///
$font-primary: 'Montserrat', sans-serif;
/// /// ///*Font Sizezs*///
$font-size: 14px;
$font-size-sm: px-to-percent(12);
$h1: px-to-percent(24);
/// ///*Primary Colors*///
$red-watermelon: rgb(248, 3, 105);

/// ///*Background Colors*///
/// 
/// ///*Shade Colors*///
/// 
/// ///*Accent Colors*///
/// 
/// 