<div class="nav-container">
  Vaporwave Shop
  <ul>

    <li>
      <a [routerLink]="['']">Home</a>
    </li>

    <li>
      <a [routerLink]="['/login']" routerLinkActive="active" ariaCurrentWhenActive="page">Login</a>
    </li>

    <li>
      <a [routerLink]="['/shop']" routerLinkActive="active" ariaCurrentWhenActive="page">Secret Shopping</a>
    </li>

    <li>
      <a [routerLink]="['/cart']" routerLinkActive="active" ariaCurrentWhenActive="page">Secret Cart</a>
    </li>

  </ul>
</div>
