Add a Student
<form [formGroup]="studentForm" (ngSubmit)="onSubmit()" novalidate>

    <div>
        <label>name</label>
            <input type="text" formControlName="name" placeholder="full name" required>
    </div>
    <div>
        <label>email</label>
            <input type="email" formControlName="email" placeholder="email" required>
    </div>
    <div>
        <label>course</label>
            <select formControlName="course" placeholder="" required>
                <option value="number1">number1</option>
                <option value="number2">number2</option>
                <option value="number1andnumber2">number1andnumber2</option>
            </select>
    </div>
    <button type="submit" [disabled]="!studentForm.valid">Add</button>
</form>

Update An Existing Student's Info

<div *ngFor="student of Students">
    <ng-container *ngIf="studentsExist, else showThis">
         <p>{{student.name}}</p>
        <p>{{student.email}}</p>
        <p>{{student.course}}</p>
        <button (click)="updateStudentInfo()">Edit</button>
        <button (click)="deleteStudentInfo()">Delete</button>  
        dope
    </ng-container>
    <ng-template #showThis>Loading...</ng-template>
</div>  


