<body class="home-background">
    <h1 class="home-title">Welcome to the Vaporwave Shop.</h1>
    <p class="home-p">I know, I know, you're overwhelmed with nostalgic joy just looking at your screen right now.  There are 
        plenty of amazing v a p o r delights ahead.  Shop, linger, stroll, skip, sashe, and slide right on up to 
        our secret v a p o r s h o p where you can easily enter an early 90's mallsoft trance.  
        Don't wait, shop today, give your soul to v a p o r w a v e .

    </p>
</body>